@font-face {
    font-family: "FiraBlack",Fira,sans-serif;
    url(FiraSans-Black.ttf);
    font-weight:normal;
}
@font-face {
    font-family: "FiraBlack",Fira,sans-serif;
    src: url(FiraSans-BlackItalic.ttf);
    font-weight:normal;
}
@font-face {
    font-family: "FiraBold",Fira,sans-serif;
    src: url(FiraSans-Bold.ttf);
    font-weight:bold;
}
@font-face {
    font-family: "FiraBoldItalic",Fira,sans-serif;
    src: url(FiraSans-BoldItalic.ttf);
    font-weight:bold;
    }
@font-face {
    font-family: "FiraExtraBold",Fira,sans-serif;
    src: url(FiraSans-ExtraBold.ttf);
    font-weight:bolder;
    }
@font-face {
    font-family: "FiraExtaBoldItalic",Fira,sans-serif;
    src: url(FiraSans-ExtraBoldItalic.ttf);
    font-weight:bolder;
    }
@font-face {
    font-family: "FiraExtraLight",Fira,sans-serif;
    src: url(FiraSans-ExtraLight.ttf);
    font-weight:light;
    }
@font-face {
    font-family: "FiraExtraLightItalic",Fira,sans-serif;
    src: url(FiraSans-ExtraLightItalic.ttf);
    font-weight:lighter;
    }
@font-face {
    font-family: "FiraItalic",Fira,sans-serif;
    src: url(FiraSans-Italic.ttf);
    font-weight:normal;
    }
@font-face {
    font-family: "FiraLight",Fira,sans-serif;
    src: url(FiraSans-Light.ttf);
    font-weight:light;
    }
@font-face {
    font-family: "FiraLightItalic",Fira,sans-serif;
    src: url(FiraSans-LightItalic.ttf);
    font-weight:light;
    }
@font-face {
    font-family: "FiraMedium",Fira,sans-serif;
    src: url(FiraSans-Medium.ttf);
    font-weight:normal;
    }
@font-face {
    font-family: "FiraMediumItalic",Fira,sans-serif;
    src: url(FiraSans-MediumItalic.ttf);
    font-weight:normal;
    }
@font-face {
    font-family: "FiraRegular",Fira,sans-serif;
    src: url(FiraSans-Regular.ttf);
    font-weight:normal;
    }
@font-face {
    font-family: "FiraSemiBold",Fira,sans-serif;
    src: url(FiraSans-SemiBold.ttf);
    font-weight:bold;
    }
@font-face {
    font-family: "FiraSemiBoldItalic",Fira,sans-serif;
    src: url(FiraSans-SemiBoldItalic.ttf);
    font-weight:bold;
    }
@font-face {
    font-family: "FiraThin",Fira,sans-serif;
    src: url(FiraSans-Thin.ttf);
    font-weight:lighter;
    }
@font-face {
    font-family: "FiraThinItalic",Fira,sans-serif;
    src: url(FiraSans-ThinItalic.ttf);
    font-weight:lighter;
    }
