@page "/"

<PageTitle>Index</PageTitle>
<h1 id="intro">Connecticut Medal of Science and Technology</h1>

<h2>These awards are the highest honors for Scientific and Technological advancements in the state of Connecticut!</h2>
<h4><p>They are modeled after the national awards for science and technology, and are awarded annually, alternating each year.</p> 
    <p>Winners push for advancements in science and technology in the state of Connecticut in fields crucial to Connecticut's economic competitiveness.</p>
</h4>


<div class="flexbox">
    <AwardSelect selection="Medal of Science" target="/Science"/>
    <AwardSelect selection="Medal of Technology" target="/Technology"/>
</div>

<div style="display:none;height:0px;width:0px;position:absolute;">
    <img src="~/css/pictures/sciwinners/mos1995-richards.png" />
    <img src="~/css/pictures/sciwinners/mos1996-coifman.png" />
    <img src="~/css/pictures/sciwinners/mos2005-stwalley.png" />
    <img src="~/css/pictures/sciwinners/mos2007-synder.jpg" />
    <img src="~/css/pictures/sciwinners/mos2011-suib.png" />
    <img src="~/css/pictures/sciwinners/mos2013-tsteitz.jpg" />
    <img src="~/css/pictures/sciwinners/mos2015-jsteitz.png" />
    <img src="~/css/pictures/sciwinners/mos2017-schoelkopf.png" />
    <img src="~/css/pictures/sciwinners/mos2019-rakic.jpg" />
    <img src="~/css/pictures/sciwinners/mos2021-ruddle.jpg" />
    <img src="~/css/pictures/techwinners/mot1995-gerber.png" />
    <img src="~/css/pictures/techwinners/mot1996-kaman.jpg" />
    <img src="~/css/pictures/techwinners/mot2004-demaria.png" />
    <img src="~/css/pictures/techwinners/mot2006-banucci.png" />
    <img src="~/css/pictures/techwinners/mot2008-ma.png" />
    <img src="~/css/pictures/techwinners/mot2009-birge.png" />
    <img src="~/css/pictures/techwinners/mot2010-rothberg.png" />
    <img src="~/css/pictures/techwinners/mot2012-barshalom.png" />
    <img src="~/css/pictures/techwinners/mot2014-leonberger.jpg" />
    <img src="~/css/pictures/techwinners/mot2016-laurencin.png" />
    <img src="~/css/pictures/techwinners/mot2018-prattandwhitne.png" />
    <img src="~/css/pictures/techwinners/mot2020-sikorsky.jpg" />
    <img src="~/css/pictures/techwinners/mot2022-crews.jpg" />
</div>
