* {
    text-align: center;
    align-content: center;
    
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.flexbox{
    display:flex;
    flex:auto;
}

.flexbox{
    flex:auto;
    flex-grow:1;
    align-content:center;
}
h1{
    font-family:FiraExtraBold,sans-serif;
    font-size:9vh;
    
    padding:16px;
}
h4{
    font-family:FiraThin,sans-serif;
    margin:16px;
}
h2{
    font-family:FiraLight,sans-serif;
    margin:16px;
}
